RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(config|core|img|css|js|fonts|robots\.txt)

RewriteRule ^(.+)$ index.php/$1 [L]

php_value upload_max_filesize 500M
php_value post_max_size 500M